<div class="container">
  <!-- Draggable List -->
  <div class="draggable-list">
    <h3>📦 Draggable Items</h3>
    <ul>
      @for (item of items; track item) {
      <li cdkDrag appDragRegister [cdkDragData]="item">
        <!-- <div class="example-custom-placeholder" *cdkDragPreview>
          {{ item }}
        </div> -->
        {{ item }}
      </li>
      }
    </ul>
  </div>

  <!-- Dropzone 1 -->
  <div class="dropzone zone1" appDropzone (drop)="onDrop($event, 'zone1')">
    <h3>🎯 Dropzone 1</h3>
  </div>

  <!-- Dropzone 2 -->
  <div
    class="dropzone zone2"
    appDropzone
    dragOverClass="drag-over"
    dragHintClass="drag-hint"
    (drop)="onDrop($event, 'zone2')"
  >
    <h3>🎯 Dropzone 2</h3>
  </div>
</div>
